extends layout
block headExtra
  link(href='/css/checkAttendDisplay.css', rel='stylesheet')
  link(href='/css/classAttend.css', rel='stylesheet')
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 출석 체크
          br
          small  Check Attendance
    // /.row
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        .form-group
          form(action='/classAttend', method='post')
            .wrapper.imageWrapper
              .imgDiv
                .imgCover
                  if params.imageUrl
                    img(src=params.imageUrl)
                  else
                    img(src='/rasp/attTest.jpg')
                  img.loading(src='/img/loading.gif')
            .wrapper.selectWrapper
              select.form-control(name='timeData')
                if params.timeDatas
                  each timeData in params.timeDatas
                    option(value=timeData.couNum + "/" + timeData.order + "/" + timeData.time) #{timeData.timeString}
            .wrapper.submitWrapper.text-center
              button.btn.btn-lg.btn-primary(type='submit') Do Attend!
    if params.users
      each user in params.users
        .row
          .userDiv.col-xs-6.col-lg-2.col-lg-offset-3
            img.userPic(src='#{user.imgSrc}')
          .userDiv.col-xs-6.col-lg-4
            .table-responsive
              table.table.table-hover.table-striped.att
                tr
                  th 학번
                tr
                  td #{user.id}
                tr
                  th 이름
                tr
                  td #{user.name}
              
  script(src='/js/classAttend.js')
