extends layout
block headExtra
  link(href='/css/checkAttendDisplay.css', rel='stylesheet')
  link(href='/css/classAttend.css', rel='stylesheet')
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 출석 체크
          small  Check Attendance
    // /.row
    .row
      .col-lg-8.col-lg-offset-2
        .form-group
          form(action='/classAttend', method='post')
            .row
              .imgDiv
                p Latest image:
                .imgCover
                  if params.imageUrl
                    img(src=params.imageUrl)
                  else
                    img(src='/rasp/attTest.jpg')
                  img.loading(src='/img/loading.gif')
            .row
              select.form-control(name='timeData')
                if params.timeDatas
                  each timeData in params.timeDatas
                    option(value=timeData.couNum + "/" + timeData.order + "/" + timeData.time) #{timeData.timeString}
            .row.text-center
              button.btn.btn-lg.btn-primary(type='submit') Do Attend!
    if params.users
      each user in params.users
        .row
          .userDiv.col-lg-8.col-lg-offset-2
            img.userPic(src='#{user.imgSrc}')
            p.id 학번 : #{user.id}
            p.name 이름 : #{user.name}
              
  script(src='/js/classAttend.js')
