doctype html
html(lang='en')
  head
    include includes/meta.jade
    title #{title}
    include includes/common.jade
    block headExtra
  body
    #wrapper
      // Navigation
      block navbar
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .navbar-inner-wrapper
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') I'm Here
            // Top Menu Items
            ul.nav.navbar-left.top-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-envelope
                  |  출석부
                  b.caret
                ul.dropdown-menu.message-dropdown
                  each course in params.courses
                    li.message-preview
                      a(href='/attend/#{course.couNum}')
                        .media
                          span.pull-left
                            img.media-object(src='http://placehold.it/50x50', alt='')
                          .media-body
                            h5.media-heading
                              strong #{course.couName}
                            p.small.text-muted
                              i.fa.fa-clock-o
                              |  #{course.proName}
                            p Lorem ipsum dolor sit amet, consectetur...
              li
                a(href='/schedule')
                  i.fa.fa-envelope
                  |  시간표
              li
                a(href='#')
                  i.fa.fa-envelope
                  |  출결 변경 신청
              li
                a(href='/checkAttend')
                  i.fa.fa-envelope
                  |  출석체크
              li
                a(href='/QR_CODE.png')
                  i.fa.fa-envelope
                  |  QR CODE
            ul.nav.navbar-right.top-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-user
                  |  #{params.user.name}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      i.fa.fa-fw.fa-user
                      |  프로필
                  li
                    a(href='/register')
                      i.fa.fa-fw.fa-gear
                      |  얼굴 등록
                  li.divider
                  li
                    a(href='/logout')
                      i.fa.fa-fw.fa-power-off
                      |  로그아웃
            // /.navbar-collapse
      #page-wrapper
        block content
      // /#page-wrapper
    // /#wrapper
